:root {
    --background: #222222;
    --plates: #333333;
    --elements: hsl(0, 0%, 27%); 
    --highlights: #555555;
    --border: 1px solid #555555;
    --text: #ffffff;
    --elements_negative: rgb(60, 30, 30); 
    --highlights_negative: rgb(90, 60, 60);
    --border_negative: 1px solid rgb(90, 60, 60); 
}

html {
    background-color: var(--background);
    font-family: 'Courier New', Courier, monospace;
    color: var(--text);
    padding: 20px;
    font-size: medium;
}

div {
    padding: 20px;
}

button {
    border: var(--border);
    background-color: var(--elements);
    color: var(--text);
}

button:hover {
    background-color: var(--highlights);
}

input {
    border: var(--border);
    background-color: var(--elements);
    color: var(--text);
}

#main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80%;
    gap: 20px;
}

#top_bar {
    display: grid;
    grid-template-columns: 40% 20px 20% 20%;
    grid-template-rows: 100%;
    gap: 20px;
    background-color: var(--plates);
    border: var(--border);
}

#boxes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80vh;
    gap: 20px;
}

#do {
    background-color: var(--plates);
    border: var(--border);
}

#done {
    background-color: var(--plates);
    border: var(--border);
}

#clear_box {
    margin-left: -20px;
    border: var(--border_negative);
    background-color: var(--elements_negative);
}

#clear_box:hover {
    background-color: var(--highlights_negative);
}

#clear_task {
    border: var(--border_negative);
    background-color: var(--elements_negative);
}

#clear_task:hover {
    background-color: var(--highlights_negative);
}